.tab-bar {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 44px;
  /*border-bottom: 1px solid #e6e6e6;*/
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-bar__tab {
  text-align: center;
  padding: 15px 0px;
  color: #b4b4b4;
  border-left: none;
  overflow: hidden;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.tap-bar__tab-selected {
  border-bottom: 2px solid #397FF4;
  color: #397FF4;
}

.tab__container {
  clear: both;
  background: #F7F8F9;
}

.tab__content {
  padding: 0px;
}

.tab__container .tab__content ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.tab__container .tab__content ul li {
  /*padding:5px;*/
  list-style: none;
}